<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>CamVolZoom</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>CamVolZoom.png</string>
      <key>label</key>
      <string>CamVolZoom</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
      </dict>
      	<dict>
       		<key>cell</key>
        	<string>PSSwitchCell</string>
        	<key>default</key>
        	<true/>
        	<key>defaults</key>
        	<string>com.PS.CamVolZoom</string>
        	<key>key</key>
        	<string>CamVolZoomEnabled</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.CamVolZoom.prefs</string>
      	</dict>
      	 <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Restart SpringBoard needed to make CamVolZoom works properly.</string>
      </dict>
      	<dict>
			<key>action</key>
			<string>killSB:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>❄ Restart SpringBoard</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reset:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>🔃 Reset</string>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>donate:</string>
      		<key>label</key>
      		<string>♥ Donate</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>twitter:</string>
      		<key>label</key>
      		<string>🔗 Developer's Twitter</string>
      </dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        	<key>label</key>
        	<string>Continuous Zoom Properties</string>
      </dict>
      <dict>
			<key>id</key>
			<string>FineSliderAmountSlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>0.01</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>FineSliderAdjustment</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.001</real>
			<key>cellName</key>
			<string>Amount</string>
		</dict>
      	<dict>
			<key>id</key>
			<string>FineSliderDelaySlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>0.01</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>AdjustmentInterval</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.01</real>
			<key>cellName</key>
			<string>Interval</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ContZoomDelaySlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>ContinuousDelay</string>
			<key>max</key>
			<real>2.0</real>
			<key>min</key>
			<real>0.55</real>
			<key>cellName</key>
			<string>Delay</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        	<key>label</key>
        	<string>Normal Zoom Properties</string>
		</dict>
		<dict>
			<key>id</key>
			<string>SliderAmountSlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>0.1</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>SliderAdjustment</string>
			<key>max</key>
			<real>3.0</real>
			<key>min</key>
			<real>0.05</real>
			<key>cellName</key>
			<string>Amount</string>
		</dict>
		<dict>
			<key>id</key>
			<string>ZoomDelaySlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>ZoomDelay</string>
			<key>max</key>
			<real>0.5</real>
			<key>min</key>
			<real>0.0</real>
			<key>cellName</key>
			<string>Delay</string>
		</dict>
		<dict>
			<key>id</key>
			<string>SliderAnimDurationSlider</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CVZSliderTableCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.PS.CamVolZoom</string>
			<key>key</key>
			<string>SliderAnimDuration</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.1</real>
			<key>cellName</key>
			<string>Duration</string>
		</dict>
      	<dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        	<key>footerAlignment</key>
        	<integer>1</integer>
        	<key>footerText</key>
        	<string>© 2013 - 2015 Thatchapon Unprasert
(@PoomSmart)</string>
      	</dict>
    </array>
  </dict>
</plist>
